
<div ng-class="{'whirl':isLoading,'traditional':isLoading}">
    <form class="form-horizontal w5c-form" w5c-form-validate="validateOptions" role="form" novalidate name="addForm">
        <h3>
            <span class="pull-right">
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" ng-click="addItem();"><i class="fa fa-plus"></i>添加</a>
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" w5c-form-submit="save()"> <i class="fa fa-save"></i> 保存</a>
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" ng-click="confirm()"><i class="fa fa-check"></i> 提交</a>
                <a ng-show="d.DataStatus==2" class="btn btn-info btn-sm" ng-click="check(2)"><i class="fa fa-pencil"></i> 审核</a>
                <a ng-show="d.DataStatus==2" class="btn btn-info btn-sm" ng-click="check(1)"><i class="fa fa-reply"></i> 审核不通过</a>
                <a class="btn btn-info btn-sm" ng-click="report()"><i class="fa fa-file-text-o"></i> 报表</a>
                <a class="btn btn-info btn-sm" ng-click="excel()"><i class="fa fa-file-excel-o"></i> 导出</a>
            </span>
                 工商交接协议数据表（主表）
             <ol class="breadcrumb">
                <li>
                    采购管理
                </li>
                <li>
                    <a ui-sref="app.Purchase.IndustryCommProtocol.list">
                        工商交接协议数据表（主表）
                    </a>
                </li>
                <li class="active">编辑</li>
            </ol>
        </h3>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">ISO编号</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="true" type="text" ng-model="d.ISO" popover-trigger="focus" popover="{{errorMessage.ISO}}" name="ISO" class="form-control  input-sm" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">单据编号</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="true" type="text" ng-model="d.ReceiptNum" popover-trigger="focus" popover="{{errorMessage.ReceiptNum}}" name="ReceiptNum" class="form-control  input-sm" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">制单日期</label>
                                <div class="col-lg-8">
                                    <input  ng-readonly="d.DataStatus>=2" type="text" converttodate="yyyy-MM-dd" ng-model="d.MakeDate" popover-trigger="focus"  ng-disabled="{{disable}}" popover="{{errorMessage.MakeDate}}" name="MakeDate" class="form-control  input-sm" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: new Date() })" onchange="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">制单人</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.MakingPeople" popover-trigger="focus" popover="{{errorMessage.MakingPeople}}" name="MakingPeople" class="form-control input-sm" required maxlength="30">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">类型名称</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.TransitionTypeName" popover-trigger="focus" popover="{{errorMessage.TransitionTypeName}}" name="TransitionTypeName" class="form-control input-sm" required maxlength="40">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">供应商</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.SupplierName" popover-trigger="focus" popover="{{errorMessage.SupplierName}}" name="SupplierName" class="form-control input-sm" required maxlength="40">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">供方代表</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.SupplierRepresent" popover-trigger="focus" popover="{{errorMessage.SupplierRepresent}}" name="SupplierRepresent" class="form-control input-sm" required maxlength="30">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">采购批次号</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.PurchaseBatch" popover-trigger="focus" popover="{{errorMessage.PurchaseBatch}}" name="PurchaseBatch" class="form-control input-sm" required maxlength="30">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">审核人</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.Reviewer_ID" popover-trigger="focus" popover="{{errorMessage.Reviewer_ID}}" name="Reviewer_ID" class="form-control input-sm" required maxlength="30">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">签定日期</label>
                                <div class="col-lg-8">
                                    <input  ng-readonly="d.DataStatus>=2" type="text" converttodate="yyyy-MM-dd" ng-model="d.DateSigning" popover-trigger="focus"  ng-disabled="{{disable}}" popover="{{errorMessage.DateSigning}}" name="DateSigning" class="form-control  input-sm" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: new Date() })" onchange="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">签定地点</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.SigningSite" popover-trigger="focus" popover="{{errorMessage.SigningSite}}" name="SigningSite" class="form-control input-sm" required maxlength="30">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">需方名称</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.BuyerName" popover-trigger="focus" popover="{{errorMessage.BuyerName}}" name="BuyerName" class="form-control input-sm" required maxlength="40">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">需方代表</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.BuyerRepresent" popover-trigger="focus" popover="{{errorMessage.BuyerRepresent}}" name="BuyerRepresent" class="form-control input-sm" required maxlength="30">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">磅码单ID</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.Weight_ID" popover-trigger="focus" popover="{{errorMessage.Weight_ID}}" name="Weight_ID" class="form-control input-sm" required maxlength="20">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">附件</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.FileInfo" popover-trigger="focus" popover="{{errorMessage.FileInfo}}" name="FileInfo" class="form-control input-sm" required maxlength="2000">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">备注</label>
                                <div class="col-lg-8">
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.Remark" popover-trigger="focus" popover="{{errorMessage.Remark}}" name="Remark" class="form-control input-sm" required maxlength="200">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">数据状态</label>
                                <div class="col-lg-8">
                                    {{ d.DataStatus|enum:'EnumOneAuditStatusType'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right">审计状态</label>
                                <div class="col-lg-8">
                                    {{ d.AuditStatus|enum:'EnumOneAuditStatusType'}}
                                    <a ng-show="d.AuditStatus>0" class="btn btn-green btn-xs" ng-click="showAudit(d.FID)"><i class="fa fa-commenting-o"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="panel panel-default">
            <!--<div class="panel-heading">面板标题</div>-->
            <div class="panel-body">
                <form name="form" class="form-inline">
                    <div class="form-group">
                        <label>标题</label>
                        <input type="text" name="Title" class="form-control input-sm" ng-model="p.Title" />
                    </div>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="load()">
                        <i class="fa" ng-class="{'fa-spinner fa-spin':loading,'fa-search':!loading}"></i> {{loading?'搜索中':'搜索'}}
                    </button>
                </form>

                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th ng-show="d.DataStatus<2">操作</th>
                                <th>行号</th>
                                <th>主表ID</th>
                                <th>年份</th>
                                <th>规格</th>
                                <th>产地</th>
                                <th>类型</th>
                                <th>等级</th>
                                <th>品种</th>
                                <th>形态</th>
                                <th>联营产品</th>
                                <th>烟叶代码</th>
                                <th>重量</th>
                                <th>单位</th>
                                <th>单价(担)</th>
                                <th>金额</th>
                                <th>途耗重量</th>
                                <th>开票结算重量</th>
                                <th>审计状态</th>
                                <th>数据状态</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="d.IndustryCommProtocolDetail.length< 1">
                                <td class="text-center" colspan="18">没有数据</td>
                            </tr>
                            <tr ng-dblclick="rowform.$visible==false?rowform.$show():rowform.$submit()" ng-hide="d.IndustryCommProtocolDetail.length< 1" ng-repeat="item in d.IndustryCommProtocolDetail">
                                <td ng-show="d.DataStatus<2" style="white-space: nowrap">
                                    <form editable-form="" name="rowform" onbeforesave="" ng-show="rowform.$visible" shown="inserted == item" class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-xs btn-info">
                                            <em class="fa fa-save"></em>
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-xs btn-default">
                                            <em class="fa fa-times"></em>
                                        </button>
                                    </form>
                                    <div ng-show="!rowform.$visible" class="buttons">
                                        <button ng-click="rowform.$show()" title="Edit" class="btn btn-xs btn-info">
                                            <em class="fa fa-pencil"></em>
                                        </button>
                                        <button ng-click="removeItem($index,item.ID)" title="Delete" class="btn btn-xs btn-danger">
                                            <em class="fa fa-trash"></em>
                                        </button>
                                    </div>
                                </td>
                                <td>{{$index+1}}</td>
                                <td><span editable-text="item.FID" e-name="FID" e-form="rowform" e-required="">{{ item.FID }}</span></td>
                                <td><span editable-text="item.Year" e-name="Year" e-form="rowform" e-required="">{{ item.Year }}</span></td>
                                <td><span editable-text="item.TobaccoSpec" e-name="TobaccoSpec" e-form="rowform" e-required="">{{ item.TobaccoSpec }}</span></td>
                                <td><span editable-text="item.TobaccoPlace" e-name="TobaccoPlace" e-form="rowform" e-required="">{{ item.TobaccoPlace }}</span></td>
                                <td><span editable-text="item.TobaccoType" e-name="TobaccoType" e-form="rowform" e-required="">{{ item.TobaccoType }}</span></td>
                                <td><span editable-text="item.TobaccoGrade" e-name="TobaccoGrade" e-form="rowform" e-required="">{{ item.TobaccoGrade }}</span></td>
                                <td><span editable-text="item.TobaccoBreed" e-name="TobaccoBreed" e-form="rowform" e-required="">{{ item.TobaccoBreed }}</span></td>
                                <td><span editable-text="item.TobaccoShape" e-name="TobaccoShape" e-form="rowform" e-required="">{{ item.TobaccoShape }}</span></td>
                                <td><span editable-text="item.TobaccoAssociatedProd" e-name="TobaccoAssociatedProd" e-form="rowform" e-required="">{{ item.TobaccoAssociatedProd }}</span></td>
                                <td><span editable-text="item.TobaccoCode" e-name="TobaccoCode" e-form="rowform" e-required="">{{ item.TobaccoCode }}</span></td>
                                <td><span editable-text="item.Weight" e-name="Weight" e-form="rowform" e-required="">{{ item.Weight }}</span></td>
                                <td><span editable-text="item.UnitName" e-name="UnitName" e-form="rowform" e-required="">{{ item.UnitName }}</span></td>
                                <td><span editable-text="item.UnitPrice" e-name="UnitPrice" e-form="rowform" e-required="">{{ item.UnitPrice }}</span></td>
                                <td><span editable-text="item.Amount" e-name="Amount" e-form="rowform" e-required="">{{ item.Amount }}</span></td>
                                <td><span editable-text="item.ConsumWeight" e-name="ConsumWeight" e-form="rowform" e-required="">{{ item.ConsumWeight }}</span></td>
                                <td><span editable-text="item.CheckWeught" e-name="CheckWeught" e-form="rowform" e-required="">{{ item.CheckWeught }}</span></td>
                                <td><span editable-text="item.AuditStatus" e-name="AuditStatus" e-form="rowform" e-required="">{{ item.AuditStatus }}</span></td>
                                <td><span editable-text="item.DataStatus" e-name="DataStatus" e-form="rowform" e-required="">{{ item.DataStatus }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>