<div ng-class="{'whirl':isLoading,'traditional':isLoading}">
    <h3>
        <span class="pull-right">
            <a class="btn btn-info btn-sm" ui-sref="app.Purchase.RemoteArrivalRecords.edit"><i class="fa fa-plus"></i> 新增</a>
            <a class="btn btn-info btn-sm" ng-click="edit()"><i class="fa fa-edit"></i> 编辑</a>
            <a class="btn btn-info btn-sm" ng-click="del()"><i class="fa fa-times"></i> 删除</a>
        </span>
        异地到货登记数据表（主表）
        <ol class="breadcrumb">
            <li>
                采购管理
            </li>
            <li class="active">异地到货登记数据表（主表）</li>
        </ol>
    </h3>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="form" class="form-inline">
                    <div class="form-group">
                        <label>单据编号</label>
                        <input type="text" name="ReceiptNum" class="form-control input-sm txtsearch" ng-model="p.ReceiptNum" />
                    </div>
                    <div class="form-group">
                        <label>审核</label>
                        <select name="DataStatus" ng-model="p.AuditStatus" class="form-control input-sm ">
                            <option selected="selected" value="">请选择</option>
                            <option ng-repeat="(k,v) in enums['EnumOneAuditStatusType']" value="{{k}}">{{v}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>制单日期</label>
                        <input type="text" ng-model="p.start" name="beginDate" ng-disabled="disable" placeholder="开始日期" id="time" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd'})" class="form-control txtdate" onchange="">
                        <input type="text" ng-model="p.end" name="endDate" placeholder="结束日期"  ng-disabled="disable" id="time1" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd'})" class="form-control txtdate" onchange="">
                    </div>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="load()">
                        <i class="fa" ng-class="{'fa-spinner fa-spin':loading,'fa-search':!loading}"></i> {{loading?'搜索中':'搜索'}}
                    </button>
                </form>

                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover table-condensed" >
                        <thead>
                            <tr>
                                <th>选择</th>
                                <th>行号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'ISO'" change="load()">ISO编码</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'ReceiptNum'" change="load()">单据编号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'MakeDate'" change="load()">制单日期</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'MakingPeople'" change="load()">制单人</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'OperatorName'" change="load()">操作员姓名</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'SupplierName'" change="load()">供应商名称</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'PurchaseBatch'" change="load()">采购批次</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'TransitionType'" change="load()">交接类型</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'TransitionTypeName'" change="load()">交接类型</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'WarehouseName'" change="load()">仓库名称</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'TransUnit'" change="load()">运输单位</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'TransportMethodName'" change="load()">运输方式名称</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'TransDate'" change="load()">发货日期</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'DeStation'" change="load()">发货站</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'ArrivalDate'" change="load()">到货日期</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'ArrivalStation'" change="load()">到货站</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'AlongInvoDate'" change="load()">随货单日期</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'PurchaseName'" change="load()">采购员姓名</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'CarNum'" change="load()">车号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'transportNO'" change="load()">准运证号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'ContractNum'" change="load()">合同号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'CargoNum'" change="load()">随货单号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'Buyer'" change="load()">需方</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'InvalidSign'" change="load()">作废标志</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'Remark'" change="load()">Remark</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'DataStatus'" change="load()">数据状态</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'AuditStatus'" change="load()">审计状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="list.Data.length< 1">
                                <td class="text-center" colspan="27">没有数据</td>
                            </tr>
                            <tr ng-dblclick="edit(item.ID)" ng-click="item.select==true?item.select=false:item.select=true" ng-hide="list.Data.length< 1" ng-repeat="item in list.Data">
                                <td clickselect="selected" select="row">
                                    <div class="checkbox c-checkbox" style="margin:0">
                                        <label>
                                            <input type="checkbox" required="" name="checkbox" ng-model="item.select" style="">
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{$index+1}}</td>
                                <td>{{ item.ISO}}</td>
                                <td>{{ item.ReceiptNum}}</td>
                                <td>{{ item.MakeDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{ item.MakingPeople}}</td>
                                <td>{{ item.OperatorName}}</td>
                                <td>{{ item.SupplierName}}</td>
                                <td>{{ item.PurchaseBatch}}</td>
                                <td>{{ item.TransitionType}}</td>
                                <td>{{ item.TransitionTypeName}}</td>
                                <td>{{ item.WarehouseName}}</td>
                                <td>{{ item.TransUnit}}</td>
                                <td>{{ item.TransportMethodName}}</td>
                                <td>{{ item.TransDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{ item.DeStation}}</td>
                                <td>{{ item.ArrivalDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{ item.ArrivalStation}}</td>
                                <td>{{ item.AlongInvoDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{ item.PurchaseName}}</td>
                                <td>{{ item.CarNum}}</td>
                                <td>{{ item.transportNO}}</td>
                                <td>{{ item.ContractNum}}</td>
                                <td>{{ item.CargoNum}}</td>
                                <td>{{ item.Buyer}}</td>
                                <td>{{ item.InvalidSign}}</td>
                                <td>{{ item.Remark}}</td>
                                <td ng-class="{'text-danger':item.DataStatus==1}">{{ item.DataStatus|enum:'EnumCommitStatusType'}}</td>
                                <td ng-class="{'text-danger':item.AuditStatus==1}">{{ item.AuditStatus|enum:'EnumOneAuditStatusType'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <uib-pagination boundary-links="true" total-items="list.TotalCount" items-per-page='list.PageSize' ng-model="list.PageIndex" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" ng-change="load()" class="pagination-sm"></uib-pagination>
                </div>
            </div>
        </div>

    </div>
</div>