<div ng-class="{'whirl':isLoading,'traditional':isLoading}">
    <h3>
        <span class="pull-right">
            <a class="btn btn-info btn-sm" ui-sref="app.Purchase.TobaccoPurchaseApprove.edit"><i class="fa fa-plus"></i> 新增</a>
            <a class="btn btn-info btn-sm" ng-click="edit()"><i class="fa fa-edit"></i> 编辑</a>
            <a class="btn btn-info btn-sm" ng-click="del()"><i class="fa fa-times"></i> 删除</a>
        </span>
        原烟采购审批数据表（主表）
        <ol class="breadcrumb">
            <li>
                采购管理
            </li>
            <li class="active">原烟采购审批数据表（主表）</li>
        </ol>
    </h3>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="form" class="form-inline">
                    <div class="form-group">
                        <label>单据编号</label>
                        <input type="text" name="ReceiptNum" class="form-control input-sm txtsearch" ng-model="p.ReceiptNum" />
                    </div>
                    <div class="form-group">
                        <label>审核</label>
                        <select name="DataStatus" ng-model="p.AuditStatus" class="form-control input-sm ">
                            <option selected="selected" value="">请选择</option>
                            <option ng-repeat="(k,v) in enums['EnumOneAuditStatusType']" value="{{k}}">{{v}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>制单日期</label>
                        <input type="text" ng-model="p.start" name="beginDate" ng-disabled="disable" placeholder="开始日期" id="time" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd'})" class="form-control txtdate" onchange="">
                        <input type="text" ng-model="p.end" name="endDate" placeholder="结束日期"  ng-disabled="disable" id="time1" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd'})" class="form-control txtdate" onchange="">
                    </div>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="load()">
                        <i class="fa" ng-class="{'fa-spinner fa-spin':loading,'fa-search':!loading}"></i> {{loading?'搜索中':'搜索'}}
                    </button>
                </form>

                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover table-condensed" >
                        <thead>
                            <tr>
                                <th>选择</th>
                                <th>行号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'Plan_ID'" change="load()">计划ID</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'ISO'" change="load()">ISO编号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'PurchaseBatch'" change="load()">采购批次</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'SupplyUnit'" change="load()">供货单位</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'SupplyUnitCategory'" change="load()">供货单位类别</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'ReceiptNum'" change="load()">单据编号</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'MakingPeople'" change="load()">制单人</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'MakeDate'" change="load()">制单日期</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'FillingDate'" change="load()">填表日期</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'MeasuringUnit'" change="load()">计量单位</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'BusinessOpinion'" change="load()">业务部门意见</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'LeaderOpinion'" change="load()">公司领导意见</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'DataStatus'" change="load()">数据状态</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'AuditStatus'" change="load()">审计状态</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'BusinessCheckName'" change="load()">质检员</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'BusinessCheckDate'" change="load()">质验日期</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'LeaderCheckName'" change="load()">质检员</th>
                                <th table-sort by="p.sort" reverse="p.isAsc" order="'LeaderCheckDate'" change="load()">质验日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="list.Data.length< 1">
                                <td class="text-center" colspan="18">没有数据</td>
                            </tr>
                            <tr ng-dblclick="edit(item.ID)" ng-click="item.select==true?item.select=false:item.select=true" ng-hide="list.Data.length< 1" ng-repeat="item in list.Data">
                                <td clickselect="selected" select="row">
                                    <div class="checkbox c-checkbox" style="margin:0">
                                        <label>
                                            <input type="checkbox" required="" name="checkbox" ng-model="item.select" style="">
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{$index+1}}</td>
                                <td>{{ item.Plan_ID}}</td>
                                <td>{{ item.ISO}}</td>
                                <td>{{ item.PurchaseBatch}}</td>
                                <td>{{ item.SupplyUnit}}</td>
                                <td>{{ item.SupplyUnitCategory}}</td>
                                <td>{{ item.ReceiptNum}}</td>
                                <td>{{ item.MakingPeople}}</td>
                                <td>{{ item.MakeDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{ item.FillingDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{ item.MeasuringUnit}}</td>
                                <td>{{ item.BusinessOpinion}}</td>
                                <td>{{ item.LeaderOpinion}}</td>
                                <td ng-class="{'text-danger':item.DataStatus==1}">{{ item.DataStatus|enum:'EnumCommitStatusType'}}</td>
                                <td ng-class="{'text-danger':item.AuditStatus==1}">{{ item.AuditStatus|enum:'EnumOneAuditStatusType'}}</td>
                                <td>{{ item.BusinessCheckName}}</td>
                                <td>{{ item.BusinessCheckDate|date:'yyyy-MM-dd'}}</td>
                                <td>{{ item.LeaderCheckName}}</td>
                                <td>{{ item.LeaderCheckDate|date:'yyyy-MM-dd'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <uib-pagination boundary-links="true" total-items="list.TotalCount" items-per-page='list.PageSize' ng-model="list.PageIndex" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="5" ng-change="load()" class="pagination-sm"></uib-pagination>
                </div>
            </div>
        </div>

    </div>
</div>