
<div ng-class="{'whirl':isLoading,'traditional':isLoading}">
    <h3 class="hidden-print">
        <span class="pull-right">
            <a class="btn btn-info btn-sm" ui-sref="app.Quality.StripsProcessTest.edit({ID:d.ID})"><i class="fa fa-file-text-o"></i>关闭</a>
            <a class="btn btn-info btn-sm" print-area area-id="divPrint" id="print"><i class="fa fa-print"></i> 打印 </a>
        </span>
          外加工回库前检验记录（片烟）
        <ol class="breadcrumb">
            <li>
              质量管理
            </li>
            <li>
                <a ui-sref="app.Quality.StripsProcessTest.list">
                  外加工回库前检验记录（片烟）
                </a>
            </li>
            <li class="active">报表</li>
        </ol>
    </h3>
    <div class="row">
        <div  class="panel panel-default">
            <div class="panel-body" >
                <div id="divPrint">
                    <h4 class="report-head">外加工回库前检验记录（片烟）</h4>
                    <table class="report-main">
                      <tr>
                          <td>ISO编号：</td>
                          <td><p>{{d.ISO}}</p></td>
                          <td>单据编号：</td>
                          <td><p>{{d.ReceiptNum}}</p></td>
                          <td>制单人：</td>
                          <td><p>{{d.MakingPeople}}</p></td>
                        </tr>
                        <tr>
                          <td>制单日期：</td>
                          <td><p>{{d.MakeDate|date:'yyyy-MM-dd'}}</p></td>
                          <td>加工单位：</td>
                          <td><p>{{d.ProcUnitName}}</p></td>
                          <td>批次：</td>
                          <td><p>{{d.OutProcessBatch}}</p></td>
                        </tr>
                        <tr>
                          <td>检验类型：</td>
                          <td><p>{{d.TestTypeName}}</p></td>
                          <td>报验日期：</td>
                          <td><p>{{d.InspectionDate|date:'yyyy-MM-dd'}}</p></td>
                          <td>质检员：</td>
                          <td><p>{{d.QualitativeCheckName}}</p></td>
                        </tr>
                        <tr>
                          <td>质检日期：</td>
                          <td><p>{{d.QualityDate|date:'yyyy-MM-dd'}}</p></td>
                          <td>质检意见：</td>
                          <td><p>{{d.QualityOpinion}}</p></td>
                          <td>片区经理：</td>
                          <td><p>{{d.GeneralManagerName}}</p></td>
                        </tr>
                        <tr>
                          <td>片区经理审核日期：</td>
                          <td><p>{{d.GeneralManagerAuditDate|date:'yyyy-MM-dd'}}</p></td>
                          <td>片区经理意见：</td>
                          <td><p>{{d.GeneralManagerOpinion}}</p></td>
                          <td>审核状态：</td>
                          <td><p>{{d.AuditStatus}}</p></td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                    <table class="report-detail">
                        <tr>
                            <th>行号</th>
                            <th>主表ID</th>
                            <th>仓库名称</th>
                            <th>垛位名称</th>
                            <th>年份</th>
                            <th>类型</th>
                            <th>产地</th>
                            <th>等级</th>
                            <th>形态</th>
                            <th>品种</th>
                            <th>规格</th>
                            <th>联营产品</th>
                            <th>烟叶代码</th>
                            <th>数量（件）</th>
                            <th>重量</th>
                            <th>单位</th>
                            <th>金额</th>
                            <th>单价(KG)</th>
                            <th>抽检率(%)</th>
                            <th>水分(%)</th>
                            <th>虫害</th>
                            <th>霉变</th>
                            <th>异味</th>
                            <th>箱温</th>
                            <th>杂物</th>
                            <th>外观质量</th>
                            <th>包装质量</th>
                            <th>标识</th>
                            <th>检验判定</th>
                            <th>审核状态</th>
                            <th>单价(担)</th>
                            <th>数量（担）</th>
                        </tr>
                        <tr ng-hide="d.StripsProcessTestDetail.length< 1" ng-repeat="item in d.StripsProcessTestDetail" repeat-finished-render>
                            <td>{{$index+1}}</td>
                            <td>{{ item.FID}}</td>
                            <td>{{ item.WarehouseName}}</td>
                            <td>{{ item.StampBitName}}</td>
                            <td class="right">{{ item.Year}}</td>
                            <td>{{ item.TobaccoType}}</td>
                            <td>{{ item.TobaccoPlace}}</td>
                            <td>{{ item.TobaccoGrade}}</td>
                            <td>{{ item.TobaccoShape}}</td>
                            <td>{{ item.TobaccoBreed}}</td>
                            <td>{{ item.TobaccoSpec}}</td>
                            <td>{{ item.TobaccoAssociatedProd}}</td>
                            <td>{{ item.TobaccoCode}}</td>
                            <td class="right">{{ item.NumJ}}</td>
                            <td class="right">{{ item.Weight}}</td>
                            <td>{{ item.UnitName}}</td>
                            <td class="right">{{ item.Amount}}</td>
                            <td class="right">{{ item.UnitPrice}}</td>
                            <td class="right">{{ item.SamplingRate}}</td>
                            <td class="right">{{ item.Moisture}}</td>
                            <td>{{ item.InsectPest}}</td>
                            <td class="right">{{ item.Mildew}}</td>
                            <td>{{ item.Smell}}</td>
                            <td>{{ item.BoxTemp}}</td>
                            <td>{{ item.Sundry}}</td>
                            <td>{{ item.AppearQua}}</td>
                            <td>{{ item.PackagQua}}</td>
                            <td>{{ item.Identify}}</td>
                            <td>{{ item.Synthetic}}</td>
                            <td class="right">{{ item.AuditStatus}}</td>
                            <td class="right">{{ item.UnitPriceD}}</td>
                            <td class="right">{{ item.NumD}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>