
<div ng-class="{'whirl':isLoading,'traditional':isLoading}">
    <form class="form-horizontal w5c-form" w5c-form-validate="validateOptions" role="form" novalidate name="addForm">
        <h3>
            <span class="pull-right">
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" ng-click="addItem();"><i class="fa fa-plus"></i>添加</a>
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" w5c-form-submit="save()"> <i class="fa fa-save"></i> 保存</a>
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" ng-click="confirm()"><i class="fa fa-check"></i> 提交</a>
                <a ng-show="d.DataStatus==2" class="btn btn-info btn-sm" ng-click="check(2)"><i class="fa fa-pencil"></i> 审核</a>
                <a ng-show="d.DataStatus==2" class="btn btn-info btn-sm" ng-click="check(1)"><i class="fa fa-reply"></i> 审核不通过</a>
                <a class="btn btn-info btn-sm" ui-sref="app.<< base_path >>.<< table_name >>.view({ID:d.ID,type:0})"><i class="fa fa-file-text-o"></i> 报表</a>
                <a class="btn btn-info btn-sm" down-file="/api/<< base_path >>/<< table_name >>/Export?ID={{d.ID}}" down-file-type="xls"><i class="fa fa-file-excel-o"></i> 导出</a>
                <a class="btn btn-info btn-sm" ui-sref="app.<< base_path >>.<< table_name >>.view({ID:d.ID,type:1})"><i class="fa fa-file-text-o"></i> 打印</a>
            </span>
                 << table_name_zh >>
             <ol class="breadcrumb">
                <li>
                    << base_path_name >>
                </li>
                <li>
                    <a ui-sref="app.<< base_path >>.<< table_name >>.list">
                        << table_name_zh >>
                    </a>
                </li>
                <li class="active">编辑</li>
            </ol>
        </h3>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <%- for column_info in field_list %>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right"><< column_info.col_comment >></label>
                                <div class="col-lg-8">
                                    <%- if column_info.col_type == 'date' %>
                                    <input  ng-readonly="d.DataStatus>=2" type="text" converttodate="yyyy-MM-dd" ng-model="d.<< column_info.col_name >>" popover-trigger="focus"  ng-disabled="{{disable}}" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control  input-sm" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: new Date() })" onchange="">
                                    <%- elif column_info.col_type == 'enum'%>
                                    <%- if column_info.col_name != 'AuditStatus' %>
                                    {{ d.<< column_info.col_name >>|enum:'EnumOneAuditStatusType'}}
                                    <%- else %>
                                    {{ d.AuditStatus|enum:'EnumOneAuditStatusType'}}
                                    <a ng-show="d.AuditStatus>0" class="btn btn-green btn-xs" ng-click="showAudit(d.FID)"><i class="fa fa-commenting-o"></i> </a>
                                    <%- endif %>
                                    <%- elif column_info.col_name in ['ReceiptNum', 'ISO', 'OperatorName', 'Operator']%>
                                    <input ng-readonly="true" type="text" ng-model="d.<< column_info.col_name >>" popover-trigger="focus" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control  input-sm" required>
                                    <%- elif column_info.col_type == 'number' %>
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.<< column_info.col_name >>" popover-trigger="focus" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control input-sm" required maxlength="<< column_info.col_precision >>">
                                    <%- else %>
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.<< column_info.col_name >>" popover-trigger="focus" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control input-sm" required maxlength="<< column_info.col_len >>">
                                    <%- endif %>
                                </div>
                            </div>
                        </div>
                        <%- if loop.index % 3 == 0 %>
                    </div>
                    <div class="col-sm-12">
                        <%- endif %>
                        <%- endfor %>
                    </div>
                    <%- if remark_flag %>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-remark-title  control-label text-right">备注</label>
                                <div class="col-remark-content">
                                    <textarea ng-readonly="d.DataStatus>=2" ng-model="d.Remark" popover-trigger="focus" popover="{{errorMessage.Remark}}" name="Remark" class="form-control  input-sm" maxlength="200"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- endif %>
                </div>
            </div>
        </div>
    </form>
</div>
