
<div ng-class="{'whirl':isLoading,'traditional':isLoading}">
    <form class="form-horizontal w5c-form" w5c-form-validate="validateOptions" role="form" novalidate name="addForm">
        <h3>
            <span class="pull-right">
                <a class="btn btn-info btn-sm" ng-click="addItem();"><i class="fa fa-plus"></i>添加</a>
                <!--<a class="btn btn-info" ng-click="del()"><i class="fa fa-times"></i> 删除</a>-->
                <a class="btn btn-info btn-sm" w5c-form-submit="save()"> <i class="fa fa-save"></i> 保存</a>
                <a class="btn btn-info btn-sm" ng-click="add(0)"><i class="fa fa-check"></i> 提交</a>
                <a class="btn btn-info btn-sm" ng-click="report()"><i class="fa fa-file-text-o"></i> 报表</a>
                <a class="btn btn-info btn-sm" ng-click="excel()"><i class="fa fa-file-excel-o"></i> 导出</a>
            </span>
                 << table_name >>
             <ol class="breadcrumb">
                <li>基地管理</li>
                <li>
                    <a ui-sref="app.<< base_path >>.<< table_name >>.list">
                        << table_name >>
                    </a>
                </li>
                <li class="active">编辑</li>
            </ol>
        </h3>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <%- for column_info in field_list %>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right"><#= c.Description #></label>
                                <div class="col-lg-8">
                                    <input type="text" ng-model="d.<< column_info.col_name >>" popover-trigger="focus" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control  input-sm" required>
                                </div>
                            </div>
                        </div>
                        <%- if loop.index % 3 == 0 %>
                    </div>
                    <div class="col-sm-12">
                        <%- endif %>
                        <%- endfor %>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="panel panel-default">
            <!--<div class="panel-heading">面板标题</div>-->
            <div class="panel-body">
                <form name="form" class="form-inline">
                    <div class="form-group">
                        <label>标题</label>
                        <input type="text" name="Title" class="form-control input-sm" ng-model="p.Title" />
                    </div>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="load()">
                        <i class="fa" ng-class="{'fa-spinner fa-spin':loading,'fa-search':!loading}"></i> {{loading?'搜索中':'搜索'}}
                    </button>
                </form>

                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>操作</th>
                                <th>行号</th>
                                <%- for column_info in field_list %>
                                <th><< column_info.col_comment >></th>
                                <%- endfor %>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="d.<< table_name >>.length< 1">
                                <td class="text-center" colspan="<< list_len >>">没有数据</td>
                            </tr>
                            <tr ng-dblclick="rowform.$visible==false?rowform.$show():rowform.$submit()" ng-hide="d.<< table_name >>.length< 1" ng-repeat="item in d.<#= host.TableName #>">
                                <td style="white-space: nowrap">                                  
                                    <form editable-form="" name="rowform" onbeforesave="" ng-show="rowform.$visible" shown="inserted == item" class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-xs btn-info">
                                            <em class="fa fa-save"></em>
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-xs btn-default">
                                            <em class="fa fa-times"></em>
                                        </button>
                                    </form>
                                    <div ng-show="!rowform.$visible" class="buttons">
                                        <button ng-click="rowform.$show()" title="Edit" class="btn btn-xs btn-info">
                                            <em class="fa fa-pencil"></em>
                                        </button>
                                        <button ng-click="removeItem($index,item.ID)" title="Delete" class="btn btn-xs btn-danger">
                                            <em class="fa fa-trash"></em>
                                        </button>
                                    </div>
                                </td>
                                <td>{{$index+1}}</td>
                                <%- for column_info in field_list %>
                                <td><span editable-text="item.<< column_info.col_name >>" e-name="<< column_info.col_name >>" e-form="rowform" e-required="">{{ item.<< column_info.col_name >>}}</span></td>
                                <%- endfor %>
                            </tr>
                        </tbody>
                    </table>
                </div>              
            </div>
        </div>

    </div>
</div>