
<div ng-class="{'whirl':isLoading,'traditional':isLoading}">
    <form class="form-horizontal w5c-form" w5c-form-validate="validateOptions" role="form" novalidate name="addForm">
        <h3>
            <span class="pull-right">
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" ng-click="addItem();"><i class="fa fa-plus"></i>添加</a>
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" w5c-form-submit="save()"> <i class="fa fa-save"></i> 保存</a>
                <a ng-show="d.DataStatus<2" class="btn btn-info btn-sm" ng-click="confirm()"><i class="fa fa-check"></i> 提交</a>
                <a ng-show="d.DataStatus==2" class="btn btn-info btn-sm" ng-click="check(2)"><i class="fa fa-pencil"></i> 审核</a>
                <a ng-show="d.DataStatus==2" class="btn btn-info btn-sm" ng-click="check(1)"><i class="fa fa-reply"></i> 审核不通过</a>
                <a class="btn btn-info btn-sm" ui-sref="app.<< base_path >>.<< table_name >>.view({ID:d.ID,type:0})"><i class="fa fa-file-text-o"></i> 报表</a>
                <a class="btn btn-info btn-sm" down-file="/api/<< base_path >>/<< table_name >>/Export?ID={{d.ID}}" down-file-type="xls"><i class="fa fa-file-excel-o"></i> 导出</a>
                <a class="btn btn-info btn-sm" ui-sref="app.<< base_path >>.<< table_name >>.view({ID:d.ID,type:1})"><i class="fa fa-file-text-o"></i> 打印</a>
            </span>
                 << table_name_zh >>
             <ol class="breadcrumb">
                <li>
                    << base_path_name >>
                </li>
                <li>
                    <a ui-sref="app.<< base_path >>.<< table_name >>.list">
                        << table_name_zh >>
                    </a>
                </li>
                <li class="active">编辑</li>
            </ol>
        </h3>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <%- for column_info in field_list %>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-lg-4 control-label text-right"><< column_info.col_comment >></label>
                                <div class="col-lg-8">
                                    <%- if column_info.col_type == 'date' %>
                                    <input  ng-readonly="d.DataStatus>=2" type="text" converttodate="yyyy-MM-dd" ng-model="d.<< column_info.col_name >>" popover-trigger="focus"  ng-disabled="{{disable}}" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control  input-sm" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: new Date() })" onchange="">
                                    <%- elif column_info.col_type == 'enum'%>
                                    <%- if column_info.col_name != 'AuditStatus' %>
                                    {{ d.<< column_info.col_name >>|enum:'EnumOneAuditStatusType'}}
                                    <%- else %>
                                    {{ d.AuditStatus|enum:'EnumOneAuditStatusType'}}
                                    <a ng-show="d.AuditStatus>0" class="btn btn-green btn-xs" ng-click="showAudit(d.FID)"><i class="fa fa-commenting-o"></i> </a>
                                    <%- endif %>
                                    <%- elif column_info.col_name in ['ReceiptNum', 'ISO', 'OperatorName', 'Operator']%>
                                    <input ng-readonly="true" type="text" ng-model="d.<< column_info.col_name >>" popover-trigger="focus" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control  input-sm" required>
                                    <%- elif column_info.col_type == 'number' %>
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.<< column_info.col_name >>" popover-trigger="focus" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control input-sm" required maxlength="<< column_info.col_precision >>">
                                    <%- else %>
                                    <input ng-readonly="d.DataStatus>=2" type="text" ng-model="d.<< column_info.col_name >>" popover-trigger="focus" popover="{{errorMessage.<< column_info.col_name >>}}" name="<< column_info.col_name >>" class="form-control input-sm" required maxlength="<< column_info.col_len >>">
                                    <%- endif %>
                                </div>
                            </div>
                        </div>
                        <%- if loop.index % 3 == 0 %>
                    </div>
                    <div class="col-sm-12">
                        <%- endif %>
                        <%- endfor %>
                    </div>
                    <%- if remark_flag %>
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-remark-title  control-label text-right">备注</label>
                                <div class="col-remark-content">
                                    <textarea ng-readonly="d.DataStatus>=2" ng-model="d.Remark" popover-trigger="focus" popover="{{errorMessage.Remark}}" name="Remark" class="form-control  input-sm" maxlength="200"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- endif %>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="panel panel-default">
            <!--<div class="panel-heading">面板标题</div>-->
            <div class="panel-body">
                <form name="form" class="form-inline">
                    <div class="form-group">
                        <label>标题</label>
                        <input type="text" name="Title" class="form-control input-sm" ng-model="p.Title" />
                    </div>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="load()">
                        <i class="fa" ng-class="{'fa-spinner fa-spin':loading,'fa-search':!loading}"></i> {{loading?'搜索中':'搜索'}}
                    </button>
                </form>

                <div class="table-responsive">
                    <table class="table table-sm table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th ng-show="d.DataStatus<2">操作</th>
                                <th>行号</th>
                                <%- for column_info in detail_field_list %>
                                <th><< column_info.col_comment >></th>
                                <%- endfor %>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="d.<< table_name >>Detail.length< 1">
                                <td class="text-center" colspan="<< detail_list_len + 2 >>">没有数据</td>
                            </tr>
                            <tr ng-dblclick="d.DataStatus < 2 && rowform.$visible==false?rowform.$show():rowform.$submit()" ng-hide="d.<< table_name >>Detail.length< 1" ng-repeat="item in d.<< table_name >>Detail">
                                <td ng-show="d.DataStatus<2" style="white-space: nowrap">
                                    <form editable-form="" name="rowform" onbeforesave="" ng-show="rowform.$visible" shown="inserted == item" class="form-buttons form-inline">
                                        <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-xs btn-info">
                                            <em class="fa fa-save"></em>
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-xs btn-default">
                                            <em class="fa fa-times"></em>
                                        </button>
                                    </form>
                                    <div ng-show="!rowform.$visible" class="buttons">
                                        <button ng-click="rowform.$show()" title="Edit" class="btn btn-xs btn-info">
                                            <em class="fa fa-pencil"></em>
                                        </button>
                                        <button ng-click="removeItem($index,item.ID)" title="Delete" class="btn btn-xs btn-danger">
                                            <em class="fa fa-trash"></em>
                                        </button>
                                    </div>
                                </td>
                                <td>{{$index+1}}</td>
                                <%- for column_info in detail_field_list %>
                                <td><span editable-text="item.<< column_info.col_name >>" e-name="<< column_info.col_name >>" e-form="rowform" e-required="">{{ item.<< column_info.col_name >> }}</span></td>
                                <%- endfor %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
