
<div ng-class="{'whirl':isLoading,'traditional':isLoading}">
    <h3 class="hidden-print">
        <span class="pull-right">
            <a class="btn btn-info btn-sm" ui-sref="app.<< base_path >>.<< table_name >>.edit({ID:d.ID})"><i class="fa fa-file-text-o"></i>关闭</a>
            <a class="btn btn-info btn-sm" print-area area-id="divPrint" id="print"><i class="fa fa-print"></i> 打印 </a>
        </span>
          << table_name_zh >>
        <ol class="breadcrumb">
            <li>
              << base_path_name >>
            </li>
            <li>
                <a ui-sref="app.<< base_path >>.<< table_name >>.list">
                  << table_name_zh >>
                </a>
            </li>
            <li class="active">报表</li>
        </ol>
    </h3>
    <div class="row">
        <div  class="panel panel-default">
            <div class="panel-body" >
                <div id="divPrint">
                    <h4 class="report-head"><< table_name_zh >></h4>
                    <table class="report-main">
                      <tr>
                        <%- for column_info in field_list %>
                          <td><< column_info.col_comment >>：</td>
                          <%- if column_info.col_type == 'date' %>
                          <td><p>{{d.<< column_info.col_name >>|date:'yyyy-MM-dd'}}</p></td>
                          <%- elif column_info.col_type == 'enum'%>
                          <%- if column_info.col_name != 'AuditStatus' %>
                          <td><p>{{ d.<< column_info.col_name >>|enum:'EnumOneAuditStatusType'}}</p></td>
                          <%- else %>
                          <td><p>{{ d.AuditStatus|enum:'EnumFourAuditStatusTypePlan'}}</p></td>
                          <%- endif %>
                          <%- else %>
                          <td><p>{{d.<< column_info.col_name >>}}</p></td>
                          <%- endif %>
                        <%- if loop.index % 3 == 0 %>
                        </tr>
                        <tr>
                        <%- endif %>
                        <%- endfor %>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
